/* Home Page Styles */
.game-section {
	padding: 50px 0;
	color: var(--text-light);
}

.card {
	background-color: var(--card-bg);
	color: var(--text-light);
	transition: transform 0.3s;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.game-section .card-img-top {
	width: 100%;
	height: 250px;
	object-fit: cover;
	padding: 10px;
}

/* Botones principales */
.btn-principal {
	border-radius: 30px;
	width: 200px;
	display: block;
	margin: 0 auto;
	padding: 10px 25px;
	font-size: 1.0rem;
	font-weight: bold;
	transition: all 0.3s ease;
	border: 2px solid #007bff;
	color: var(--text-light);
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.btn-principal:hover {
	background-color: #007bff;
	color: var(--text-light);
}

.btn-principal.active {
	background-color: #007bff;
	color: var(--text-light);
	border-color: #007bff;
}